<ion-view view-title="Account">
  <ion-content>
    <uib-progressbar max="max" value="dynamic" type="{{type}}">
      <span style="color:black; white-space:nowrap;">Score: {{dynamic}}, {{riskLevel}}</span>
    </uib-progressbar>

    <ion-list>

      <div class="item item-divider">
        Test
      </div>

      <ion-checkbox ng-repeat="item in riskOnePoint"
                  ng-model="item.answer"
                  ng-checked="item.answer"
                  ng-true-value="1"
                  ng-false-value="0"
                  ng-change="setValue()">
        {{ item.question }}
      </ion-checkbox>

      <div class="item">
        <pre ng-bind="riskOnePoint | json"></pre>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
